{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-balls">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are ineligible for a juggling licence
      </h1>

      <p>As you can only juggle fewer than 2 balls, you are not eligible for a juggling licence.</p>

    </div>
  </div>

{% endblock %}
